{# templates/partials/_sidebar.html #}
<aside>
    <div>

        <div class="avatar-placeholder"></div>
        <p>{{ request.user.username }}</p>
        
    </div>

    <nav>
        <a href="#">
            {% if request.resolver_match.url_name == 'descriptografar' %}
                Criptografar
            {% else %}
                Descriptografar
            {% endif %}
        </a>
        <a href="#">Historico</a>
        <a href="{% url 'mensagens:historico_logs' %}">Logs</a>
        <a href="{% url 'core:logout' %}">Sair</a>
    </nav>
</aside>
